<!-- Homepage Hero
  ================================================== -->
  <section id="hero">

    <div class="row">

      <div class="twelve columns">

        <div class="hero-text">
          <br/>
          <h1 class="responsive-headline">今日の献立、もう決まっていますか?</h1><br>
          

          <p>今日の晩御飯を決められない、毎日の献立をいちいち決める余裕がない。</br>
            楽Laクックでは、そんな貴方の献立を考えるお手伝いをします。</br>
            さぁ、今日の献立はどんな料理がいいですか？</br>
          　取り合えず簡単にイメージしてみましょう。
          </p>
        </div>

           <div class="buttons">
              <!-- スタートクリックで献立提案プロセスを開始する -->
              <a href="http://www.rakulacook.com/menu/question/" class="button trial" href="#">Start</a>
              <!--<a class="button learn-more smoothscroll" href="#features">ユーザ登録する</a>-->
           </div>

           <div class="hero-image">
              <%= image_tag 'hero-image' %>
           </div>

      </div>

    </div>

  </section> <!-- Homepage Hero end -->

  <!-- Screenshots
  ================================================== -->
  <section id="screenshots">

     <div class="row section-head">

        <h2><font color="#683B0E">人気の献立</font></h2>
<!--　ログインしてない場合はスクリーンショット　ログインしていれば献立ページへのリンク -->
        <p>人気の献立のレシピを閲覧するためには、<a href="http://www.rakulacook.com/user/regist">新規登録</a>が必要です。
        </p>

     </div>

     <div class="row">

        <div class="twelve columns">

           <!-- screenshots-wrapper -->
           <div id="screenshots-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

              <div class="columns item">
                 <div class="item-wrap">

                    <a href="http://www.rakulacook.com/user/regist"="a">
                       <%= image_tag '料理画像/うどん.jpg' %>
                       <div class="overlay"></div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div> <!-- item end -->

              <div class="columns item">
                 <div class="item-wrap">

                    <a href="http://www.rakulacook.com/user/regist"="a">
                       <%= image_tag '料理画像/焼き鳥.jpg' %>
                       <div class="overlay"></div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div> <!-- item end -->

              <div class="columns item">
                 <div class="item-wrap">

                    <a href="http://www.rakulacook.com/user/regist"="a">
                       <%= image_tag '料理画像/パスタ.jpg' %>
                       <div class="overlay"></div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div> <!-- item end -->

              <div class="columns item">
                 <div class="item-wrap">

                    <a href="http://www.rakulacook.com/user/regist"="a">
                       <%= image_tag '料理画像/オクラ.jpg' %>
                       <div class="overlay"></div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div> <!-- item end -->

              <div class="columns item">
                 <div class="item-wrap">

                    <a href="http://www.rakulacook.com/user/regist"="a">
                     <%= image_tag '料理画像/ピザ.jpg' %>
                       <div class="overlay"></div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div> <!-- item end -->

              <div class="columns item">
                 <div class="item-wrap">

                    <a href="http://www.rakulacook.com/user/regist"="a">
                       <%= image_tag '料理画像/味噌汁.jpg' %>
                       <div class="overlay"></div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div> <!-- item end -->

              <div class="columns item">
                 <div class="item-wrap">

                    <a href="http://www.rakulacook.com/user/regist"="a">
                       <%= image_tag '料理画像/トマト＆チーズ.jpg' %>
                       <div class="overlay"></div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div> <!-- item end -->

              <div class="columns item">
                 <div class="item-wrap">

                    <a href="http://www.rakulacook.com/user/regist"="a">
                       <%= image_tag '料理画像/すき焼き.jpg' %>
                       <div class="overlay"></div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div>  <!-- item end -->

           </div> <!-- portfolio-wrapper end -->

        </div> <!-- twelve columns end -->

     </div>  <!-- end row -->

  </section> <!-- Screenshots End -->


  <!-- Call-To-Action Section
  ================================================== -->
  <section id="call-to-action">

     <div class="row">

        <div class="seven columns">

           <h2>
             <font color="#2F4F4F">すべての機能を使うには</font>
           </h2>
           <p>楽Laクックには他にも様々な機能が付いています。すべての機能を使うためには、 <a href="http://www.rakulacook.com/user/login">ログイン</a>または新規登録をしてください。<br/>
             新規登録は、無料で行うことができます。
</p>

        </div>

        <div class="three columns action">

           <a href="http://www.rakulacook.com/user/regist/" class="button">新規登録</a>

        </div>

     </div>

  </section> <!-- Call-To-Action Section End-->



  <!-- Features Section
  ================================================== -->
  <section id='features'>

     <div class="row feature design">

        <div class="six columns right">
           <h3>楽Laクックの特徴その１</h3>

           <p>楽Laクックでは、キーワードを選ぶだけでその日の献立を自動で作成してくれます。</br>
             またその日の体調、予算、料理にかける時間を考えてレシピを提供してくれます。</br>
             毎日の献立作りをサポートし、料理をすることが楽しくなるお手伝いをすることが目的の献立作成サイトです。

           </p>
        </div>

        <div class="six columns feature-media left">
            <%= image_tag '料理画像/料理を作る夫婦.jpg' %>
        </div>

     </div>

     <div class="row feature responsive">

        <div class="six columns left">
           <h3>楽Laクックの特徴その２</h3>

           <p>楽Laクックでは様々な料理のレシピを閲覧することができます。用途別にその時貴方が必要な献立を、沢山あるレシピの中から選んでくれます。</br>
             献立の品目は単品から数種類まで時間や予算を照らし合わせながら選ぶことが出来ます。</br>
             作りたいレシピを時間の範囲内で作ることが出来ます。
           </p>
        </div>

        <div class="six columns feature-media right">
              <%= image_tag '料理画像/家庭料理.jpg' %>
        </div>

     </div>

     <div class="row feature cross-browser">

        <div class="six columns right">
           <h3>楽Laクックの特徴その３</h3>

           <p>楽Laクックに新規登録することにより、楽Laクックで選んだ献立を記憶して貴方へのおすすめを表示してくれます。</br>
               また、冷蔵庫の材料を予め入力しておくことで、冷蔵庫の中を把握して簡単にできるレシピも紹介してくれます。</br>
               その他楽Laクックに無料登録をすることにより、様々なサービスを受けることができます。

           </p>
        </div>

        <div class="six columns feature-media left">
            <%= image_tag '料理画像/冷蔵庫の中身.jpg' %>
        </div>

     </div>


  </section> <!-- Homepage Hero end -->
<%= render 'layouts/footer' %>
