// Place all the styles related to the UserPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
width: 200px;
padding: 10px;
background-color: #ffdddd;
}
.article {
background-color: #ddddff;
}

div.box {
width:80%; /* 横幅 */
height:700px; /* 縦幅 */
overflow:auto;
background-color:#FFF; /* 背景色 */
border:1px #F0F0F0 dashed; /* 枠 */
font-size:80%; /* 文字サイズ */
color:#000000; /* 文字色 */
}
div.box p {
margin:1em 10px; /* 行間 */
}
example1{
  width:60px;
  height:60px;
}
